@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #F3F3F3;
  --foreground: #171717;
  --primarycolor : #073794;
  --secondcolor : #FFE045;
  --coldbluecolor : #E2F4FF;
  --bggraycolor : #4f4d4dc4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3F3F3;
    --foreground: #101010;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  margin-inline: auto;
  }
  /* Mobile */
  @media (min-width: 768px) {
    .container {
      width: 738px;
    }
  }
  /* tablet */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  
  }
  /* desktop */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  